@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Oooh+Baby&display=swap&family=Spartan:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
	border: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.Login {
	height: 100vh;
	width: 100vw;
	background-image: url('./assets/images/login.webp');
	background-size: cover;
	background-position: center top;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.5s ease-in;
	.Form {
		align-items: center;
		background-color: hsla(0, 0%, 100%, 0.85);
		border-radius: 0.5rem;
		box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.19),
			0px 6px 6px hsla(0, 0%, 0%, 0.23);
		display: flex;
		flex-direction: column;
		padding: 2rem 3rem;
		transition: all 0.5s ease;
		@media (max-width: 768px) {
			width: 90vw;
		}
		h3 {
			font-size: clamp(1rem, 1.5vw, 1.25rem);
		}
		h3 > sup {
			vertical-align: super;
			font-size: smaller;
		}
		h2 {
			font-size: clamp(0.9rem, 1.5vw, 1.25rem);
			margin: 0.5rem 0 1.25rem;
		}
		span {
			display: inline-block;
			margin-bottom: 0.5rem;
		}
		.password {
			width: 22rem;
			border-radius: 0.5rem;
			border: 1px solid hsl(0, 0%, 80%);
			height: 2rem;
			padding: 0.5rem 0.5rem 0.25rem;
			transition: box-shadow 0.3s ease;
			@media (max-width: 768px) {
				width: 18rem;
			}
			&:focus {
				box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
			}
		}
		.Error {
			height: 2rem;
			position: relative;
			&::after {
				animation: fadeIn 0.75s ease;
				position: absolute;
				content: '*';
				top: 10px;
				right: -20px;
				width: 50px;
				height: 50px;
				font-size: 3rem;
				color: red;
			}
			& > input {
				border: 1px solid red;
			}
		}
		p {
			font-size: clamp(0.85rem, 1.5vw, 1rem);
			width: 14rem;
			margin-bottom: 1rem;
			text-align: center;
		}
		hr {
			margin: 0.65rem 0;
			width: 13rem;
			min-height: 2px;
			border-radius: 15px;
			background-color: hsl(0, 0%, 70%);
		}
		button {
			margin-top: 0.5rem;
			padding: 0.75rem 1.75rem;
			border-radius: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			background-color: hsl(214, 99%, 64%);
			cursor: pointer;
			transition: all 0.3s ease;
			svg {
				margin-left: 1.25rem;
			}
			&:hover {
				background-color: hsl(214, 99%, 70%);
				box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
			}
		}
		.Error-Message {
			margin-top: 1rem;
			color: red;
			animation: fadeIn 0.75s ease-in-out;
		}
	}
}

.Navbar {
	align-items: center;
	border-radius: 20px;
	display: flex;
	justify-content: space-evenly;
	left: 50%;
	margin: 1rem auto 0;
	position: fixed;
	transform: translateX(-50%);
	transition: background 0.5s ease-in-out;
	width: 50vw;
	z-index: 2;
	@media (max-width: 768px) {
		justify-content: center;
	}
	&-Logo {
		cursor: pointer;
		height: 7rem;
		margin-right: 2rem;
		@media (max-width: 768px) {
			margin: 0;
		}
	}
	a {
		color: white;
		cursor: pointer;
		text-decoration: none;
		text-shadow: -1px -1px 5px #000;
		transition: color 0.3s ease;
		@media (max-width: 768px) {
			h1 {
				display: none;
			}
		}
		&:hover {
			color: hsla(0, 0%, 100%, 0.65);
		}
		img {
			text-shadow: none;
		}
	}
}

.Navbar-Active {
	border-radius: 20px;
	background: hsla(0, 0%, 90%, 0.25);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	a {
		text-shadow: 0px 1px 10px #000;
	}

}

.Main {
	display: flex;
	flex-direction: column;
	animation: fadeIn 0.5s ease-in;
}

#Welcome {
	height: 100vh;
	position: relative;
	background-image: url('./assets/images/background.webp');
	background-size: cover;
	background-position: center top;
	filter: brightness(85%);
	z-index: 1;
	.Welcome-Text {
		min-width: 20vw;
		margin-right: clamp(0.5rem, 10vw, 25rem);
		position: absolute;
		top: 30%;
		right: 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		user-select: none;
		@media (max-width: 768px) {
			margin-top: 3rem;
		}
		h1 {
			font-size: clamp(1.5rem, 1.5vw, 2rem);
			color: hsl(0, 0%, 100%);
			font-family: 'Dancing Script', sans-serif;
			text-shadow: -1px -1px 5px #000;
		}
		p {
			width: clamp(20rem, 20vw, 25rem);
			margin: 1rem 0 1.5rem;
			font-size: clamp(0.9rem, 1vw, 1.4rem);
			color: hsl(0, 0%, 100%);
			text-align: center;
			text-shadow: -1px -1px 5px #000;
			line-height: clamp(1.25rem, 1vw, 2rem);
		}
		button {
			padding: 1.25rem 3rem;
			border-radius: 2rem;
			font-size: 0.9rem;
			font-weight: bold;
			text-transform: uppercase;
			background-color: hsla(0, 0%, 0%, 0);
			text-shadow: -1px -1px 5px #000;
			border: 1.5px solid white;
			color: white;
			transition: background-color 0.25s ease-in-out;
			cursor: pointer;
			&:hover {
				background-color: hsla(0, 0%, 100%, 0.5);
			}
		}
	}
}

#Details {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./assets/images/details.webp');
	background-size: cover;
	font-size: clamp(0.6rem, 2vw, 0.9rem);
	padding-top: 5rem;
	@media (max-width: 768px) {
		flex-direction: column;
	}
	.Details-Column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 55vh;
		max-width: 35vw;
		margin-right: 2rem;
		@media (max-width: 768px) {
			flex-direction: row;
			flex-wrap: wrap;
			min-width: 80vw;
			min-height: 50vh;
			justify-content: center;
			align-items: center;
			margin-right: 0;
		}
	}
	.Date {
		padding: 1.5rem;
		border-radius: 1rem;
		background-color: hsl(0, 0%, 100%);
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		@media (max-width: 768px) {
			padding: .7rem;
			text-align: center;
			max-height: 10vh;
		}
		span {
			display: flex;
			text-align: center;
			align-items: center;
			margin-bottom: 0.5rem;
			font-size: clamp(0.7rem, 3vw, 1rem);
			h1 {
				margin: 0 0.5rem;
				font-size: clamp(0.7rem, 3vw, 1.4rem);
			}
		}
		h2 {
			font-size: clamp(0.7rem, 3vw, 1rem);
		}
	}
	.Location {
		background-color: hsl(0, 0%, 100%);
		text-align: center;
		padding: 1.5rem;
		border-radius: 1rem;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		@media (max-width: 768px) {
			max-height: 14vh;
		}
		h2:first-child {
			margin-bottom: 0.5rem;
		}
		h2 {
			font-size: clamp(0.8rem, 1.5vw, 0.9rem);
		}
		p {
			margin-top: 0.5rem;
			font-size: clamp(0.7rem, 1.5vw, 0.9rem);
			@media (max-width: 768px) {
				margin-top: 0.25rem;
			}
		}
	}
	.Information {
		background-color: hsl(0, 0%, 100%);
		text-align: center;
		padding: 1.5rem;
		border-radius: 1rem;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		@media (max-width: 768px) {
			max-height: 18vh;
		}
		h1 {
			font-size: clamp(1rem, 1.5vw, 1.1rem);
			margin-bottom: 0.4rem;
		}
		p {
			padding: 0 3.5rem 0.75rem;
			@media (max-width: 768px) {
				padding: 0 .5rem 0.75rem;
			}
		}
		p + p {
			padding: 0.75rem 0rem 0;
			margin: 0 auto;
			width: 70%;
			border-top: 2px solid hsl(0, 0%, 70%);
		}
	}
	.Timeline {
		display: flex;
		flex-direction: column;
		text-align: center;
		min-height: 50vh;
		min-width: 24vw;
		background-color: hsl(0, 0%, 100%);
		position: relative;
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		@media (max-width: 768px) {
			flex-direction: row;
			min-height: 10vh;
			max-width: 90vw;
		}
		&::before {
			content: '';
			position: absolute;
			top: 5.21rem;
			left: 50%;
			width: 0.25rem;
			height: 20.62rem;
			border-radius: 0 1rem;
			background-color: hsl(0, 0%, 50%);
			@media (max-width: 768px) {
				display: none;
			}
		}
		.Ceremony,
		.Dinner {
			position: relative;
			min-width: 6rem;
			background-color: hsl(0, 0%, 100%);
			margin-right: auto;
			@media (max-width: 768px) {
				min-width: 3.5rem;
				max-height: 5.5rem;
			}
			img {
				height: 4rem;
				@media (max-width: 768px) {
					height: 3rem;
					margin-bottom: 1.2rem;
				}
			}
		}
		.Cocktail,
		.Dancing {
			position: relative;
			min-width: 5.75rem;
			background-color: hsl(0, 0%, 100%);
			margin-left: auto;
			img {
				height: 4rem;
				@media (max-width: 768px) {
					height: 3rem;
					margin-bottom: 1.2rem;
				}
			}
		}
		.Ceremony::before,
		.Dinner::before {
			content: '';
			position: absolute;
			top: 50%;
			right: -2.85rem;
			width: 2.85rem;
			height: 0.25rem;
			background-color: hsl(0, 0%, 50%);
			@media (max-width: 768px) {
				display: none;
			}
		}
		.Cocktail::before,
		.Dancing::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -2.85rem;
			width: 2.85rem;
			height: 0.25rem;
			background-color: hsl(0, 0%, 50%);
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}

#Story {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 7.5rem;
	background-image: url('./assets/images/book.webp');
	background-size: cover;
	.Container {
		max-height: 70vh;
		max-width: 60vw;
		border: 1px solid hsl(0, 0%, 70%);
		padding: 3rem;
		border-radius: 1rem;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		overflow: scroll;
		background-color: hsla(0, 0%, 100%, 0.85);
		@media (max-width: 768px) {
			max-width: 90vw;
			padding: 1rem;
		}
	}
	h1 {
		text-align: center;
		font-size: clamp(1.4rem, 2vw, 1.7rem);
		margin-bottom: 0.5rem;
		font-family: 'Oooh Baby', cursive;
	}
	h2 {
		text-align: center;
		font-size: 0.6rem;
		margin-bottom: 1.5rem;
		font-family: 'Poppins', cursive;
	}
	h3 {
		text-align: center;
		font-size: 1.3rem;
		margin: 2rem 0 0.25rem;
		font-family: 'Oooh Baby', cursive;
	}
	p {
		font-size: clamp(0.8rem, 2vw, 0.9rem);
		padding: 0.5rem 1rem;
		text-shadow: 0px 1px 2px #fff;
		line-height: 1.3rem;
		@media (max-width: 768px) {
			line-height: 1.2rem;
		}
	}
	span {
		font-weight: bolder;
	}
	.Pics {
		margin: 1rem 0;
		display: flex;
		align-items: center;
		@media (max-width: 768px) {
			margin: 0;
		}
		img {
			height: 10rem;
			border-radius: 2rem;
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}

#Registry {
	height: 100vh;
	background-image: url('./assets/images/gifts.webp');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20vw;
	padding-top: 7.5rem;
	@media (max-width: 768px) {
		background-position: right;
	}
	.Card {
		min-height: 20vh;
		max-width: 20vw;
		text-align: center;
		border: 1px solid white;
		border-radius: 0.5rem;
		margin-bottom: 3rem;
		background-color: hsl(0, 0%, 100%);
		box-shadow: 0 4px 18px hsla(0, 0, 100%, 0.25),
			0 5px 5px hsla(0, 0, 100%, 0.22);
		text-decoration: none;
		@media (max-width: 768px) {
			max-width: 60vw;
		}
		h1 {
			padding-top: 1rem;
			color: hsl(0, 0%, 0%);
		}
		img {
			height: 10rem;
			margin-top: 0.5rem;
		}
		&:hover {
			text-decoration: underline;
			color: hsl(0, 0%, 0%);
			transition: all 0.15s ease-in-out;
			box-shadow: 0 14px 28px hsla(0, 0, 100%, 0.25),
				0 10px 10px hsla(0, 0, 100%, 0.22);
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
